<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/content.css">
  <title>Blog Garden</title>
</head>
<header class="sticky-top">
    <nav class="navbar navbar-expand-custom navbar-mainbg sticky-top">
      <div class="container">
        <a class="navbar-brand navbar-logo" href="/">Blog Garden</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
              <div class="left"></div>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="/"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newpost"><i class="fa-regular fa-pen-to-square"></i>New Post</a>
            </li>
            <li class="nav-item">
                <button id="edit-toggler" type="button"><i class="fa-solid fa-gear"></i>Edit</button>
            </li>
          </ul>
        </div>
    </nav>
</header>
<main class="container">